@model IEnumerable<ExpenseManager.Models.Expense>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="well">
    @using (Html.BeginForm("Index", "Expenses", FormMethod.Get))
    {
        <div class="form-horizontal">

            <div class="container">
                <div class="row form-group">
                    <div class="col-sm-6">
                        @Html.Label("Start Date: ", new { htmlAttributes = new { @class = "control-label" } })
                        @Html.Editor("startDate", new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    </div>
                    <div class="col-sm-6">
                        @Html.Label("End Date: ", new { htmlAttributes = new { @class = "control-label" } })
                        @Html.Editor("endDate", new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-2">
                        <input type="submit" value="Search" class="form-control btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<table id="expenseTable" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
